<div class="popup">
  <div class="popup-body">
    <div class="popup-content">
      <a class="popup-close" (click)="closeBasket()">+</a>
      <div class="popup-title">Ваш заказ:</div>

      <div class="popup-list">
        <ng-container *ngFor="let item of cart">
          <div class="popup-basket">
            <button class="delete-from-basket" (click)="deleteItemOfBasket(item)">[X]</button>
            <div class="popup-basket-name">
              <img class="popup-basket-image" src="{{item.image}}" alt="img"/>
              <span class="popup-card">{{item.name}}</span>
            </div>

            <div class="basket-price">
              <span>{{item.price}}</span>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="buttons">
        <button class="checkout">Заказать</button>
        <button type="reset" class="checkout" (click)="cleanBasket()">Очистить корзину</button>
      </div>

    </div>
  </div>
</div>

