<div>

  <h1>{{data.name}}</h1>
  <div class="cards container">
    <img src="{{data.image}}" alt="photo">
    <div class="feature">
      <ul>
        <li>Дисплей: IPS, 6,67 дюймов, разрешение FHD+, частота обновления 120 Гц, частота опроса сенсорного слоя 240
          Гц, защитное стекло Gorilla Glass 6
        </li>
        <li>Чипсет: Qualcomm Snapdragon 860, 7 нм, 8 ядер (Kryo 485), максимальная тактовая частота 2,96 ГГц,
          графический ускоритель Adreno 640
        </li>
        <li>Память: 8 ГБ ОЗУ и 256 ГБ файловое хранилище (UFS 3.1)</li>
        <li>Камеры: основной сенсор — 48 МП, сверхширокоугольный — 8 МП, макро — 2 МП, датчик глубины снимка — 2 МП,
          селфи-камера — 20 МП
        </li>
        <li>Батарея: 5160 мАч, поддержка быстрой зарядки мощностью 33 Вт</li>
        <li>Связь: 4G, Bluetooth 5</li>
      </ul>
    </div>
    <div class="price">
      <p><b>{{data.price}}</b></p>
      <a href="#"><p>Получить скидку</p></a>
      <button (click)="addQuote(data.id)">Добавить в корзину</button>
    </div>
  </div>
</div>
