<div>

  <h1>{{data.name}}</h1>
  <div class="cards container">
    <img src="{{data.image}}" alt="photo">
    <div class="feature">
      <ul>
        <li>{{data.params.display}}</li>
        <li>{{data.params.camera}}</li>
        <li>{{data.params.memory}}</li>
        <li>{{data.params.battery}}</li>
      </ul>
    </div>
    <div class="price">
      <p><b>{{data.price}}</b></p>
      <a href="#"><p>Получить скидку</p></a>
      <button (click)="addCardInBasket(data.id)">Добавить в корзину</button>
    </div>
  </div>
</div>
