header {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr 2fr);
  width: 100%;
  min-width: 840px;
  align-items: center;
  margin-bottom: 20px;
}

span.logo {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  font-weight: 900;
}

.basket-image {
  width: 20px;
}

.basket-link {
  display: flex;
  justify-content: flex-end;
}

.login {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.basket {
  display: flex;
  align-items: center;
}

.search {
  width: 100px;
  margin: 0 4em;
}
