<div class="login">

  <div class="outer">
    <div class="middle">
      <div class="inner">

        <div class="login-wr">
          <h2>Вход</h2>

          <div class="form">
            <input type="text" placeholder="Введите адрес эл.почты">
            <input type="password" placeholder="Введите пароль">
            <button> Авторизация </button>
            <a routerLink="/registration"> <p> У вас нет аккаунта? Регистрация </p></a>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
