<div class="login">

  <div class="outer">
    <div class="middle">
      <div class="inner">

        <div class="login-wr">
          <h2>Регистрация</h2>

          <div class="form">
            <input type="text" placeholder="Введите адрес эл.почты">
            <input type="password" placeholder="Введите пароль">
            <input type="password" placeholder="Повторите пароль">
            <button> Зарегистрироваться</button>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
