<h3 class="cards">Каталог товаров</h3>
    <div class="cards container">
      <ng-container *ngFor="let item of data">
      <div class="card">
        <div class="card-header">
          <a routerLink="/cardProduct"
             class="card-link" (click)="skipToProductDetails(item)">
            <img class="card-image"
                 [src]="item.image"
                 alt="photo"/>
            <h2 class="card-title">
              {{item.name}}
            </h2>
          </a>
        </div>


      <div class="card-footer">
          <strong class="card-price">{{item.price}}</strong>
          <button class="card-in-basket" (click)="addInBasket(item.id)"><span>В корзину</span></button>
        </div>
      </div>
      </ng-container>
    </div>



